POSTGRES_DB=roomclimate
POSTGRES_USER=roomclimate
POSTGRES_PASSWORD=change-me

SERVER_PORT=8081
FRONTEND_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

MQTT_ENABLED=true
MQTT_BROKER_URL=tcp://raspberrypi.local:1883
MQTT_TOPIC=zigbee2mqtt/+
MQTT_CLIENT_ID=homedashboard-backend
