POSTGRES_DB=roomclimate
POSTGRES_USER=roomclimate
POSTGRES_PASSWORD=change-me

SERVER_PORT=8081

MQTT_ENABLED=true
MQTT_BROKER_URL=tcp://raspberrypi.local:1883
MQTT_TOPIC=zigbee2mqtt/+
MQTT_CLIENT_ID=homedashboard-backend
